@import "./module/global.scss";
@import "./module/searchWrapper.scss";
@import "./module/input";
@import "./module/table.scss";
@import "./module/popup.scss";
@import "./module/combotree.scss";
@import "./module/prompt.scss";
@import "./module/select.scss";
@import "./module/tab.scss";
@import "./module/inforWrapper.scss";
@import "./module/footerPage.scss";
@import "./module/radio.scss";
@import "./module/datePicker.scss";
.search-wrapper {
    display: flex;
    height: 30px;
    margin-bottom: 0;
    .line {
        line-height: 30px;
        margin-right: 10px;
    }
    input[type=text],
    select {
        width: 200px;
        margin-right: 10px;
    }
}

.search-btn {
    display: inline-block;
    width: 60px;
    height: 30px;
    margin-left: 10px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    background-color: #59afff;
    border-radius: 20px;
    vertical-align: top;
    border: none;
    outline: 0;
    transition: all .5s;
    cursor: pointer;
    user-select: none;
    &:hover {
        background-color: #4da1f0;
    }
}

.export-btn {
    display: inline-block;
    width: 80px;
    height: 30px;
    margin-left: auto;
    text-align: center;
    line-height: 30px;
    vertical-align: top;
    border-radius: 5px;
    font-size: 14px;
    transition: backgroundColor linear .5s;
    cursor: pointer;
    background-color: #3cbbff;
    border: 1px solid #3cbbff;
    color: #fff;
    i {
        display: inline-block;
        width: 14px;
        height: 14px;
        margin-right: 3px;
        background-repeat: no-repeat;
        background-image: url('../images/btn.png');
        vertical-align: middle;
        background-position: -24px 0;
    }
    &:hover {
        background-color: #2fabed;
        border: 1px solid #2fabed;
    }
}

.chosed {
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
}

.table1-wrapper {
    flex: 1;
    margin-top: 20px;
}

.chose-radio {
    display: flex;
    align-items: center;
    padding: 0 10px;
    p {
        margin-left: 5px;
    }
}
.station-input {
    width: 180px !important;
    border-radius: 15px !important;
    background-color: #f2f2f2 !important;
    border: 0 !important;
    background: url('../images/searchIn.png') no-repeat 35px;
    &::-webkit-input-placeholder {
        text-align: center;
    }
}

.to-page,
.yw-detail,
.next-task,
.next-operate-detail,
.notice-detail {
    color: #59afff;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.next-task-popup,
.yw-popup {
    width: 640px;
}

.next-opreate-popup {
    width: 550px;
}

.yw-table {
    border-collapse: collapse;
    tr {
        td {
            height: 50px;
            padding: 5px 0;
            text-align: center;
            border: 1px solid #eee;
            &:nth-child(2n+1) {
                width: 100px;
                background-color: #f6f6f6;
            }
            img {
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }
    }
}

.img-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    img {
        width: 150px;
        height: 150px;
        margin-bottom: 10px;
    }
}

td {
    position: relative;
}

.td-picture {
    display: inline-block;
    color: #59aFFf;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
        >div {
            display: block;
        }
    }
    i {
        width: 14px;
        height: 14px;
        display: inline-block;
        vertical-align: middle;
        background-image: url('../images/filePic.png');
        margin-right: 3px;
        margin-bottom: 2px;
    }
    >div {
        z-index: 999;
        width: 210px;
        height: 210px;
        display: none;
        position: absolute;
        padding: 5px;
        left: 50%;
        top: 0;
        margin-top: 38px;
        margin-left: -110px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 40px #ccc;
        &:before {
            content: '';
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 12px solid #fff;
            position: absolute;
            left: 50%;
            top: -10px;
            margin-left: -6px;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.datagrid-btable {
    td {
        position: relative;
    }
    tr:nth-last-of-type(1),
    tr:nth-last-of-type(2),
    tr:nth-last-of-type(3) {
        .td-driveCard,
        .td-picture {
            >div {
                top: auto;
                margin-top: auto;
                bottom: 0;
                margin-bottom: 38px;
                &:before {
                    border-bottom: 0px solid #fff;
                    border-top: 12px solid #fff;
                    top: auto;
                    bottom: -10px;
                }
            }
        }
    }
    tr:nth-of-type(1),
    tr:nth-of-type(2),
    tr:nth-of-type(3) {
        .td-driveCard,
        .td-picture {
            >div {
                bottom: auto;
                margin-bottom: auto;
                top: 0;
                margin-top: 38px;
                &:before {
                    border-top: 0px solid #fff;
                    border-bottom: 12px solid #fff;
                    bottom: auto;
                    top: -10px;
                }
            }
        }
    }
}

.order-state {
    &.yes {
        color: #01fb7f;
    }
    &.no {
        color: #ff3f3f;
    }
    &.send {
        color: #01fb7f;
    }
    &.ing {
        color: #FF9933;
    }
    &:hover {
        .roder-state-detail {
            display: block;
        }
    }
    .roder-state-detail {
        position: absolute;
        top: 40px;
        left: 50%;
        margin-left: -107px;
        display: none;
        padding: 5px 0 5px 14px;
        width: 215px;
        text-align: left;
        font-size: 12px;
        border: 1px solid #dcdcdc;
        border-radius: 8px;
        background-color: #fff;
        z-index: 9999;
        &::before {
            content: '';
            background-image: url('../images/upp.png');
            position: absolute;
            display: block;
            width: 12px;
            height: 9px;
            top: -9px;
            left: 100px;
        }
        p {
            padding: 0 0 5px 9px;
            border-left: 1px solid #eee;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                display: block;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #999;
                top: 6px;
                left: -3px;
            }
        }
        .item {
            display: flex;
            flex-direction: column;
            span {
                &:last-child {
                    color: #999;
                }
            }
            &.nopass {
                span {
                    &:first-child {
                        color: #ff6d50;
                    }
                }
                &::before {
                    background-color: #ff6d50;
                }
            }
            &.pass {
                span {
                    &:first-child {
                        color: #666;
                    }
                }
                &::before {
                    background-color: #666;
                }
            }
        }
        .type {
            color: #999;
        }
    }
}

.notice-detail-popup {
    width: 740px;
}

.time-chart {
    width: 100%;
    height: 150px;
    padding: 0 20px;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #eff4fa;
    white-space: nowrap;
    .content {
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin-left: 20px;
        width: 120px;
        height: 127px;
        padding-top: 25px;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            .line {
                display: none;
            }
        }
        .circle {
            width: 50px;
            height: 50px;
            margin: 0 auto;
            border-radius: 50%;
            background-color: #59afff;
            text-align: center;
            color: #fff;
            line-height: 50px;
        }
        p {
            width: 100%;
            margin-top: 10px;
            font-size: 12px;
            color: #59afff;
            text-align: center;
        }
        .line {
            position: absolute;
            top: 48px;
            right: -80px;
            width: 115px;
            height: 4px;
            background-color: #bfddfb
        }
    }
}

#cur-title {
    color: #999;
    padding: 20px 0 10px 0;
}

