@import "./module/global.scss";
@import "./module/prompt.scss";
@import "./module/select.scss";
@import "./module/prompt.scss";
@import "./module/inputFile.scss";
@import "./module/popup.scss";
@import "./module/input.scss";
@import "./module/datePicker.scss";
@import "./module/publicHidden.scss";

/*==============================================*/ 
.body-wrapper {
    height: auto;
    min-height: 100vh;
    flex-direction: column;
}
.chose-time {
    @extend %chose-time;
}
//====================厂站统计样式====================//
.search-nav {
    padding-bottom: 20px;
    // select:nth-of-type(1){
    //     display: none;
    // }
    input::-webkit-input-placeholder {
        text-align: center;
    }
    .input-search {
        background-color: #f2f2f2;
        border: none;
        width: 140px;
        border-radius: 30px;
        margin-left: 10px;
    }
    .title {
        margin-left: 10px;
        display: inline-block;
        >select {
            width: 120px;
            &:not(:nth-of-type(1)) {
                display: none;
            }
            &.data-show {
                display: inline-block;
            }
        }
        >input[type=text] {
            width: 120px !important;
            display: none;
            vertical-align: top;
            &.data-show {
                display: inline-block;
            }
        }
    }
    .part-factory {
        width: 7%;
    }
}

//=================厂站统计图表样式=======================//
.person-statistics {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    .work-time {
        margin-left: 15px;
        width: 32%;
        margin-top: -2%;

        >div:nth-of-type(1) {
            position: relative;
            top: 18%;
            border-bottom: 1px solid white;
            span {
                display: block;
                height: 50px;
                line-height: 50px;
                padding-left: 10px;
                font-size: 18px;
            }
        }
        >div:nth-of-type(2) {
            background-color: #f0f6fe;
            padding-top: 30px;
            display: flex;
            justify-content: space-around; //padding-left: 50px;
            ul {
                display: inline-block;
                width: 190px;
                margin-top: 10%; // margin-left: 5%;
                vertical-align: top;
                li {
                    list-style: none;
                    font-size: 18px;
                    >span {
                        font-size: 36px;
                        color: #30ba60;
                        vertical-align: middle;
                    }
                }
            }
        }
    } 
    // 厂站数量统计
    #echart1 {
        display: inline-block;
        width: 300px;
        height: 250px; //border: 1px solid red;
    } // 处理水量
    #echarts-wrapper1,
    #echarts-wrapper2 {
        display: inline-block;
        width: 34%;
        height: 250px; //border: 1px solid red;
        
    }

     //达标统计
    #echarts-wrapper-standard1,
    #echarts-wrapper-standard2,
    #echarts-wrapper-standard3,
    #echarts-wrapper-earlyWarning,
    #echarts-wrapper-giveAlarm,
    #echarts-wrapper-fault {
        display: inline-block;
        width: 100%;
        height: 250px; //border: 1px solid red;
        margin: 0 auto
    }
    #echarts-wrapper-consumePower,
    #echart3,
    #echarts-wrapper-personCost,
    #echarts-wrapper-drugPower,
    #echarts-wrapper-factoryWater,
    #echarts-wrapper-factoryallCost,
    #echarts-wrapper-factorySludge,
    #echarts-wrapper-emissionReduction,
    #echarts-wrapper-communication,
    #echarts-wrapper-TonneWater {
        display: inline-block;
        width: 100%;
        margin-right: 5%;
        // margin-top: 5%;
        height: 250px; //border: 1px solid red;
    }
    .work-time-text {
        font-size: 16px;
        height: 100px;
        width: 150px;
        margin: 30px 0 0 20px;
        >p:nth-of-type(2) {
            color: #ff9e7d;
        }
    }
}


// =======================图表中的选择框=============//
.select-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.select-btn-1 {
    display: flex;
    flex-direction: row;
    width: 60;
    .part-factory {
        // display: block;
        margin-top: 10px;
        margin-right: 15px;
        width: 120px;
        display: inline-block;
        background-color: #fff;
        border: 1px solid gainsboro;
    }
}

// =====================按钮的样式=====================//
.title {
    >select {
        width: 120px;
        &:not(:nth-of-type(1)) {
            display: none;
        }
        &.data-show {
            display: inline-block;
        }
    }
    >input[type=text] {
        width: 120px !important;
        display: none;
        vertical-align: top;
        &.data-show {
            display: inline-block;
        }
    }
}

.btn {
    display: inline-block;
    width: 60px;
    height: 30px;
    margin-left: 10px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    background-color: #59afff;
    border-radius: 20px;
    vertical-align: top;
    border: none;
    outline: 0;
    transition: all .5s;
    cursor: pointer;
    user-select: none;
    &:hover {
        background-color: #4da1f0;
    }
}
// 药耗统计中的各种折线的表示含义
.text-bs{
   
    font-size: 8px;
    p{
        margin-top: 6px;
        i{
            display: inline-block;
            vertical-align: middle;
            margin-right: 3px;
            width: 10px;
            height: 2px;
           
        }
    }
    p:nth-child(1) i{
        background-color: #9774ef; 
    }
    p:nth-child(2) i{
        background-color: #d82c26;
    } 
    p:nth-child(3) i{
        background-color: #d82c66;
    }
    p:nth-child(4) i{
        background-color: #fb6e52;
    }
}


