// 头部跨域
.allMessage{
  box-shadow:1px 1px 10px 2px #b7b7b7;
  //border: 1px solid red;
  background-color: white;
  width: 250px;
  height: 104px;
  font-size: 12px;
  position: fixed;
  right: 20px;
  bottom: -110px;
  z-index: 9999;
  border-radius: 8px;
  padding: 10px;
  .title{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom:2px;
    border-bottom:1px solid #dcdcdc;
    color: #ff642e;
    a{
      position: relative;
      i{
        display: inline-block;
        width: 19px;
        height: 19px;
        background-image: url('../images/popupIcon.png');
        background-repeat: no-repeat;
        background-position: 0 3px;
        cursor: pointer;
        &:before{
          content: '';
          position: absolute;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background-color: #eee;
          top: -4px;
          left: -7px;
          opacity: 0;
          z-index: -1;
        }
        &:hover{
          &::before{
            opacity: 1;
          }
        }
      }
    }
  }
  .content{
    //border: 1px solid #dcdcdc;
    height: 64px;
    border-radius: 5px;
    padding: 5px;
    padding-top: 10px;
    P{
      cursor: pointer;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
.top-inf {
  position: fixed;
  top: 0;
  right: 105px;
  width: 180px;
  height: 90px;
  border-radius: 10px;
  display: block;
  margin-top: 10px;
  margin-left: -94px;
  text-align: center;
  background-color: #666;
  &::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #666;
    margin-left: -2px;
  }
  p {
    color: #fff;
    padding: 10px 15px 0 15px;
  }
  a {
    position: absolute;
    left: 0;
    bottom:10px;
    margin-left: 62px;
    display: inline-block;
    width: 56px;
    height: 26px;
    line-height: 26px;
    background-color: #48cf82;
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 5px;
    cursor: pointer;
  }
}
.top-company {
  position: fixed;
  top: 0;
  right: 35px;
  width: 180px;
  height: 90px;
  padding-top: 5px;
  border-radius: 10px;
  display: block;
  margin-top: 10px;
  margin-left: -94px;
  text-align: center;
  background-color: #666;
  &::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #666;
    margin-left: -2px;
  }
  p {
    font-size: 12px;
    color: #fff;
    padding: 0 15px 0 15px;
  }
}
.login-info {
  position: fixed;
  top: 0px;
  right: 305px;
  width: 205px;
  height: 110px;
  display: block;
  margin-top: 10px;
  margin-left: -94px;
  padding: 9px 14px;
  text-align: left;
  background-color: rgb(102, 102, 102);
  border-radius: 10px;
  &::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 50%;
    display: block;
    width: 0px;
    height: 0px;
    margin-left: -2px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid rgb(102, 102, 102);
  }
  .normal {
    font-size: 14px;
    color: #50e399;
  }
  .other {
    font-size: 14px;
    color: red;
  }
  p {
    display: flex;
    flex-direction: column;
    margin: 4px 0;
    font-size: 12px;
    color: #fff;
  }
}
.close-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  margin: auto;
  width: 390px;
  height: 170px;
  border-radius: 8px;
  text-align: center;
  background-color: #fff;
  z-index: 9999;
  p {
    color: #333;
    line-height: 116px;
    img {
      vertical-align: middle;
      margin-right: 6px;
    }
  }
  a {
    display: inline-block;
    width: 100px;
    height: 34px;
    line-height: 34px;
    border-radius: 20px;
    cursor: pointer;
  }
  .close-wrapper-sure{
    background-color: #59aFFf;
    color: #fff;
    margin-right: 30px;
    &:hover {
      background-color: #2fabed;
    }
  }

  .close-wrapper-cancel{
    border: 1px solid #59aFFf;
    color: #59aFFf;
  }
}

// 登录异常提示框
$promptWidth: 300px; // 提示框宽高
$promptHeight: 200px;
$promptBgColor: #797979; // 背景颜色
$promptColor: #fff; // 字体颜色
$deleteWidth: 390px; // 弹窗宽高
$deleteHeight: 170px;
$deleteBgColor: #fff; // 背景颜色
$confrimBtnWidth: 100px; // 按钮宽高
$confrimBtnHeight: 34px;
$btnColor:#59aFFf; // 按钮颜色

@mixin commonPos {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.identify,
.account-prompt-wrapper{
    @include commonPos;
    margin: auto;
    width: $deleteWidth;
    height: $deleteHeight;
    border-radius: 8px;
    text-align: center;
    background-color: $deleteBgColor;
    z-index: 9999;
    p {
        color: #333;
        line-height: 116px;
        img {
            vertical-align: middle;
            margin-right: 6px;
        }
    }
    a {
        display: inline-block;
        width: $confrimBtnWidth;
        height: $confrimBtnHeight;
        line-height: $confrimBtnHeight;
        border-radius: 20px;
        cursor: pointer;
    }
    .to-login,
    .is-self{
        background-color: $btnColor;
        color: #fff;
        margin-right: 30px;
    }
    .identify-return,
    .no-self{
        border: 1px solid $btnColor;
        color: $btnColor;
    }
}

// 身份验证框
.identify {
    //display: block;
    padding-top: 40px;
    input{
        width: 220px;
        height: 34px;
        border-radius: 5px;
        border:1px solid #dcdcdc;
        padding-left: 10px;
        color: #666;
        &::placeholder{
            color: #dcdcdc;
        }
    }
    .get-code{
        display: inline-block;
        width: 100px;
        height: 34px;
        border-radius: 8px;
        color: white;
        background-color: #51c589;
        line-height: 34px;
    }
    >div{
        margin-top: 43px;
        border-top: 1px solid #dcdcdc;
        padding-top: 10px;
        display: flex;
        justify-content: space-around;
        .identify-return{
            vertical-align: bottom;
            margin-left: 30px;
        }
    }
}


// 滚动条样式
::-webkit-scrollbar{
    width: 6px;
    height: 16px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #e5e5e5;
}

