@import "./module/global.scss";
@import "./module/prompt.scss";

@import "./module/select.scss";
@import "./module/prompt.scss";
@import "./module/inputFile.scss";
@import "./module/popup.scss";
@import "./module/input.scss";
@import "./module/datePicker.scss";
.body-wrapper{
  height: auto;
  min-height: 100vh;
  flex-direction: column;
}
//====================个人信息====================//

.person-information{
  color: #fff;
  display: flex;
  width: 49%;
  height: 33%;
//   height: 210px;
  background-color: #fd8c58;
  background-image: url('../images/personInformationBackground.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  >div{
    //display: inline-block;
    padding: 0 30px;
    padding-top: 30px;
    &:nth-of-type(1){
      height: 100%;
      width: auto;
      text-align: center;
      >div{
        width: 120px;
        
        height:120px;
        margin-bottom: 20px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
      }
      img{
        width: 100%;
        height: 100%;
      }
      span{
        cursor: pointer;
        i{
          display: inline-block;
          vertical-align: middle;
          margin-right: 3px;
          width: 16px;
          height: 16px;
          background-image: url('../images/btn.png');
          background-repeat: no-repeat;
          background-position:  -48px 0;
        }
      }
    }
    &:nth-of-type(2){
      padding-left: 0;
      flex: 1;
      >p{
        font-size: 24px;
        margin-bottom: 20px;
      }
    }
    .item{
      margin-bottom: 10px;
      font-size: 12px;
      p{
        display: inline-block;
        width: 220px;
        vertical-align: top;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        &:nth-of-type(1){
          width: 180px;
          margin-right: 10px;
        }
      }
      span:nth-of-type(1){
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #fff;
        text-align: center;
        margin-right: 10px;
        vertical-align: middle;
      }
      i{
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 16px;
        background-image: url('../images/personInformation.png');
        background-position: 1px 1px ;
        background-repeat: no-repeat;
      }
      &:nth-of-type(1){
        p:nth-of-type(2){
          i{
            background-position: -1px -71px;
          }
        }
      }
      &:nth-of-type(2){
        p:nth-of-type(1){
          i{
            background-position: 1px -25px;
          }
        }
        p:nth-of-type(2){
          i{
            background-position: 0px -92px;
          }
        }
      }
      &:nth-of-type(3){
        p:nth-of-type(1){
          i{
            background-position: 1px -50px;
          }
        }
        p:nth-of-type(2){
          i{
            background-position: 0px -115px;
          }
        }
      }
    }
  }
}
.chose-time{
  @extend %chose-time
}

//====================工时+工单统计====================//

.person-statistics{
  display: flex;
  justify-content: space-between;
  >div{
    display: inline-block;
    width: 49%;
    height: 280px;
    background-image: url('../images/person-statistics.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: bottom;
    vertical-align: top;
    margin: 20px 0px;
    padding: 20px;
  }
  .work-time{
    >div:nth-of-type(2){
      //border: 1px solid red;
      padding-top: 30px;
      display: flex;
      justify-content: space-around;
      //padding-left: 50px;
      ul{
        display: inline-block;
        width: 26%; //
        // width: 190px;
        vertical-align: top;
        li{
          list-style: none;
          p{
            display: inline-block;
            width: 80px;
            vertical-align: middle;
          }
          a{
            font-size: 12px;
            position: relative;
            bottom:10px;
          }
          >span{
            font-size: 36px;
            vertical-align: middle;
          }
          &:nth-of-type(1){
            span,a{
              color: #32ba60;
            }
          }
          &:nth-of-type(2){
            span,a{
              color: #35dadd;
            }
          }
          &:nth-of-type(3){
            span,a{
              color: #b6a2de;
            }
          }

        }
      }
      #echart1{
        display: inline-block;
        width: 70%;
        // width: 400px;
        height: 200px;
        //border: 1px solid red;
      }
    }
  }
  .work-order{
    ul{
      display: flex;
      justify-content: space-between;
      padding: 0 46px;
      padding-top: 50px;
      li{
        list-style: none;
        text-align: center;
        vertical-align: top;
        i{
          display: inline-block;
          width: 52px;
          height: 60px;
          background-image: url('../images/gongdan.png');
          background-repeat: no-repeat;
          background-position: 0 0;
        }
        p{
          &:nth-of-type(1){
            margin: 10px 0;
          }
          &:last-child{
            font-size: 24px;
          }
        }
        &:nth-of-type(1){
          color: #32ba60;
          i{
            background-position: 0 0;
          }
        }
        &:nth-of-type(2){
          color: #35dadd;
          i{
            background-position: -62px 0;
          }
        }
        &:nth-of-type(3){
          color: #b6a2de;
          i{
            background-position: -122px 0;
          }
        }
      }
    }
  }
}
.work-efficiency{
  width: 100%;
  flex: 1;
  min-height: 280px;
  background-color: #f0f6fe;
  vertical-align: top;
  margin: 20px 0px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  #echart2{
    width: 100%;
    flex: 1;
    margin-top: 20px;
    min-height: 210px;
  }
}
.title{
  >select{
    width: 120px;
    &:not(:nth-of-type(1)){
      display: none;
    }
    &.data-show{
      display: inline-block;
    }
  }
  >input[type=text]{
    width: 120px !important;
    display: none;
    vertical-align: top;
    &.data-show{
      display: inline-block;
    }
  }

}
.btn{
  display: inline-block;
  width: 60px;
  height: 30px;
  margin-left: 10px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  background-color: #59afff;
  border-radius: 20px;
  vertical-align: top;
  border: none;
  outline: 0;
  transition: all .5s;
  cursor: pointer;
  user-select: none;
  &:hover {
    background-color: #4da1f0;
  }
}