@import "./module/global.scss";
@import "./module/input.scss";
@import "./module/prompt.scss";

.submit{
  width: 340px;
  height: 40px;
  background-color: #51c589;
  border-radius: 5px;
  color: #fff;
  margin-left: 204px;
  margin-top: 60px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}
input[type=password]{
  width: 340px;
  height: 40px;
  padding-left: 8px;
  color: #666;
  font-size: 14px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  background-color: #fff;
  &::placeholder{
      color: #ccc;
  }
}
.password-form{
  margin-top: 100px;
  >div:not(:last-child){
    margin-left:100px;
    margin-bottom: 20px;
    label{
      display: inline-block;
      width: 100px;
    }
  }
}
