/*=========按状态的改变*/
.eer{
    i{
        background-color: red;
    }
    color: red;
}
.normal{
    i{
        background-color: #49d767;
    }
    color: #49d767;
}
.stop{
    i{
        background-color: #c0c0c0;
    }
   color: #c0c0c0;
}
/*==============================*/