/*combotree样式*/
.cbt {
    width: 250px;
    height: 30px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    color: #999;
    appearance: none;
    background: url('../images/page-down.png') no-repeat scroll right 9px center transparent;
}
.tree-checkbox0 {
    margin-left: 2px;
    background: url('../images/chose.png') no-repeat -24px;
}
.tree-checkbox1 {
    margin-left: 2px;
    background: url('../images/chose.png') no-repeat -48px;
}
.tree-checkbox2 {
    margin-left: 2px;
    background: url('../images/chose.png') no-repeat -48px;
}
.tree-file {
    display: none;
}
.tree-folder {
    display: none;
}
.textbox {
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    box-sizing: border-box;
    margin-right: 10px;
}
.textbox .textbox-text {
    padding-left: 8px;
    padding-right: 14px;
    padding-top: 0;
    padding-bottom: 0;
    color: #666;
    font-size: 14px;
    cursor: pointer;
    background: url('../images/page-down.png') no-repeat scroll right 9px center transparent;
}
.tree-node-selected {
    background: #f2f2f2;
}
.textbox-invalid {
    background-color: #fff;
}