/*input[type=text]样式*/
input[type=text] {
    width: 250px;
    height: 30px;
    padding-left: 8px;
    color: #666;
    font-size: 14px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    // outline: none;
    background-color: #fff;
    // box-shadow: 0 0 0px 1000px #fff inset; //解决chorme下橘黄色问题
}

input[type=text]::-webkit-input-placeholder {
    color: #ccc;
}

.validatebox-invalid{
    border: 1px solid #dcdcdc; // 改变必填项边框颜色
    color: #666;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset !important; //关于解决输入框背景颜色
    box-shadow: 0 0 0px 1000px #fff inset !important; //关于解决输入框背景颜色
}

// 更改必填框背景颜色
.validatebox-invalid {
    background-color: #fff;
}


